#a reusable template for teammates` .envs (hidden by .gitignore), paste in your own info


DB_HOST=localhost 

DB_USER=root 
DB_PASSWORD=yourMYSQLpassword 
DB_NAME=artsy_dublin 

 
Ticketmaster_API_KEY=yourkey(sengul sent)
TMDB_ACCESS_TOKEN=yourkey(sengul sent)
 
PORT= 
